.footer {
  display: flex;
  justify-content: space-between;
}
.footer h3 {
  color: #fff;
  padding-top: 2rem;
  padding-left: 2rem;
  font-family: "Jost", "sans-serif";
}
.footer .container_footer {
  background-color: #030929;
  width: 100%;
  height: 55rem;
  display: flex;
  margin: 0 auto;
  padding-top: 2rem;
}
.footer .container_footer .container_logo_footer {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 3rem;
  color: #fff;
  font-family: "Jost", "sans-serif";
}
.footer .container_footer .container_logo_footer .logo {
  width: 27rem;
  height: auto;
  overflow: hidden;
}
.footer .container_footer .container_logo_footer .p_footer {
  font-size: 2rem;
  margin: 2rem auto;
  line-height: 1.5;
}
.footer .container_footer .container_logo_footer .span_footer {
  font-size: 1.8rem;
}
.footer .container_footer .container_logo_footer .btn_suscribir {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 4.5rem;
}
.footer .container_footer .container_logo_footer .btn_suscribir .input_footer {
  width: 65%;
}
.footer .container_footer .container_logo_footer .btn_suscribir .input_footer::placeholder {
  font-size: 1.7rem;
  letter-spacing: 1px;
  padding-left: 1.4rem;
}
.footer .container_footer .container_logo_footer .btn_suscribir .btm_footer {
  width: 40%;
  border: 3px solid #09aff4;
  margin: 0 auto;
  border-radius: 0 0.8rem 0.8rem 0;
  cursor: pointer;
  transition: background-color 1s;
}
.footer .container_footer .container_logo_footer .btn_suscribir .btm_footer:hover {
  background-color: #09aff4;
}
.footer .container_footer .container_logo_footer .btn_suscribir .btm_footer p {
  margin: 0.5rem;
  font-size: 1.6rem;
  font-family: "Jost", "sans-serif";
}
.footer .container_footer .enlaces_footer, .footer .container_footer .recursos_footer, .footer .container_footer .contacto_footer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  width: 19%;
}
.footer .container_footer .enlaces_footer a, .footer .container_footer .recursos_footer a, .footer .container_footer .contacto_footer a {
  margin-top: 1rem;
  margin-left: 2rem;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 280px) {
  .footer .container_footer {
    height: auto;
    flex-direction: column;
  }
  .footer .container_footer .container_logo_footer {
    width: 100%;
    margin-left: 0;
  }
  .footer .container_footer .container_logo_footer .logo {
    width: 100%;
  }
  .footer .container_footer .container_logo_footer .p_footer {
    text-align: center;
  }
  .footer .container_footer .container_logo_footer .btn_suscribir {
    width: 100%;
    height: 10rem;
    flex-direction: column;
  }
  .footer .container_footer .container_logo_footer .btn_suscribir .input_footer {
    width: 100%;
    height: 4rem;
  }
  .footer .container_footer .container_logo_footer .btn_suscribir .btm_footer {
    width: 100%;
  }
  .footer .container_footer .span_footer {
    text-align: center;
  }
  .footer .container_footer .enlaces_footer, .footer .container_footer .recursos_footer, .footer .container_footer .contacto_footer {
    width: 100%;
  }
}
