.seccion_presentacion_1, .seccion_presentacion_2 {
  background-color: rgba(0, 0, 0, 0.7529411765);
  height: 80vh;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}
.seccion_presentacion_1 .presentacion, .seccion_presentacion_2 .presentacion {
  width: 100%;
  height: 80vh;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}
.seccion_presentacion_1 .presentacion .design, .seccion_presentacion_2 .presentacion .design {
  display: inline-block;
  text-align: center;
  font-size: 4.5rem;
  width: 100%;
  margin: 3rem auto;
}
.seccion_presentacion_1 .presentacion .design span, .seccion_presentacion_2 .presentacion .design span {
  color: #09aff4;
}
.seccion_presentacion_1 .presentacion .p_presentacion, .seccion_presentacion_2 .presentacion .p_presentacion {
  margin: 0 auto;
  width: 77%;
  border: 1px solid #09aff4;
  border-radius: 0.5rem;
  font-size: 2.7rem;
  padding: 4rem;
  line-height: 1.3;
}

.seccion_presentacion_2 .presentacion {
  background-color: #fff;
  color: #000;
}

@media (max-width: 600px) {
  .seccion_presentacion_1, .seccion_presentacion_2 {
    height: auto;
    background-color: #0d1857;
  }
  .seccion_presentacion_1 .presentacion, .seccion_presentacion_2 .presentacion {
    height: auto;
    padding-bottom: 4rem;
    font-size: 1.5rem;
  }
  .seccion_presentacion_1 .presentacion .design, .seccion_presentacion_2 .presentacion .design {
    text-align: center;
    font-size: 3.5rem;
    width: 100%;
  }
  .seccion_presentacion_1 .presentacion .p_presentacion, .seccion_presentacion_2 .presentacion .p_presentacion {
    margin: 4rem auto;
    width: 95%;
    font-size: 1.9rem;
    padding: 0.8rem;
    line-height: 1.5;
  }
}
@media (max-width: 768px) {
  .seccion_presentacion_1, .seccion_presentacion_2 {
    height: 100vh;
    padding-bottom: 3rem;
  }
  .seccion_presentacion_1 .presentacion, .seccion_presentacion_2 .presentacion {
    height: auto;
    padding-bottom: 2rem;
  }
  .seccion_presentacion_1 .presentacion .p_presentacion, .seccion_presentacion_2 .presentacion .p_presentacion {
    width: 90%;
    height: auto;
  }
  .seccion_presentacion_2 .presentacion {
    height: 100vh;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .seccion_presentacion_1, .seccion_presentacion_2 {
    height: auto;
  }
  .seccion_presentacion_1 .presentacion, .seccion_presentacion_2 .presentacion {
    height: auto;
    padding-bottom: 3rem;
  }
}
