.seccion_servicios {
  display: flex;
  justify-content: space-around;
  background-color: #030929;
  height: 65vh;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.seccion_servicios .box_servicios {
  color: #fff;
  width: 65%;
  margin-top: 3rem;
  height: 30rem;
}
.seccion_servicios .box_servicios .span_servicios {
  text-transform: uppercase;
  color: #09aff4;
}
.seccion_servicios .box_servicios .h2_servicios {
  margin-top: 1rem;
  font-size: 4.5rem;
  text-transform: capitalize;
}
.seccion_servicios .box_servicios .parrafo_servicios {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.7rem;
  color: rgba(0, 252, 168, 0.9333333333);
  font-family: "Lato", sans-serif;
}
.seccion_servicios .box_servicios .parrafo_servicios .design {
  color: #09aff4;
}
.seccion_servicios .box_servicios .parrafo_servicios .zavan {
  color: #fff;
}
.seccion_servicios .btn_servicios {
  width: 25rem;
  height: 6rem;
  border: 3px solid #09aff4;
  border-radius: 0 2rem;
  color: #09aff4;
  font-size: 1.4rem;
  margin-top: 7.5rem;
  text-align: center;
  transition: background-color 1s;
}
.seccion_servicios .btn_servicios .parrafo_start {
  margin: 0.5rem auto;
  cursor: pointer;
}
.seccion_servicios .btn_servicios:hover {
  background-color: #09aff4;
  color: #fff;
}

@media (max-width: 280px) {
  .seccion_servicios {
    height: auto;
    flex-direction: column;
    font-size: 1.5rem;
  }
  .seccion_servicios .box_servicios {
    width: 100%;
    height: auto;
  }
  .seccion_servicios .box_servicios .h2_servicios {
    font-size: 3.7rem;
    text-align: center;
  }
  .seccion_servicios .btn_servicios {
    width: 95%;
    margin: 5rem auto;
  }
}
