.terminos_politicas {
  background-color: #030929;
  display: flex;
  justify-content: flex-end;
  height: 5rem;
}
.terminos_politicas a {
  margin-right: 1.5rem;
  color: #fff;
  text-decoration: none;
}

/* @media (min-width: 280px){
    .terminos_politicas{
        height: 10rem;        
       text-align: center;
       flex-direction: column;      
    }
} */
@media (max-width: 540px) {
  .terminos_politicas {
    height: 10rem;
    text-align: center;
    flex-direction: column;
  }
}
